{% extends "appmwr/base.html"%}

{% block titulo %} Editar Perfil {%endblock%}

{% block contenidoQueCambia%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=" X-UA-Compatible" content=""IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p class="fs-5 fw-bold">{{masg_login}}</p>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type=" submit" vaulue ="Actualizar"> 

    </form>
    
</body>
</html>

{% endblock %}